<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Beating Houses to Death</title>
=======
    <title>BeatingHouses</title>
>>>>>>> 22a3a296c9bbc1c60c64eb27122726030209072d
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>

    <%= render 'shared/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
 
</html>
